<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ADD</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/home/kamil/IdeaProjects/task/src/main/resources/templates/tasks/css/form1.css}" rel="stylesheet"/>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Moja zacna Strona Główna</a></li>
        <li><a href="/all">about</a></li>
        <li><a href="/isFinish">Formularz Kontaktowy</a></li>
        <li><a href="/isNotFinish">about</a></li>
    </ul>
</nav>


<h1 class="h1">Dodaj zadanie</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form action="/all" method="post">
                <div class="form-group">
                    <label for="Name">Nazwa</label>
                    <input type="text" class="form-control" id="Name" name="name">
                </div>
                <div class="checkbox checkbox-move">
                    <label>
                        <input type="checkbox" name="Finished"> Czy skończony
                    </label>
                </div>
                <div class="form-group">
                    <label>Opis</label>
                    <textarea name="description" class="form-control" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-animated">Dodaj</button>
            </form>
        </div>
    </div>
</div></body>
</html>